<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta charset="utf-8">
        <!--Import materialize.css-->
        {% load staticfiles %}
        <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>
        <link rel="icon" type="image/png" href="{% static '/img/avatar-3774.jpg' %}" />
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <nav>
            <div class="nav-wrapper blue">
                <a href="/" class="brand-logo">Cooperativa</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                    <li><a href="/clientes/">Cliente</a></li>
                    {% else %}
                    <li><a href="/login/">Administrar</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="/login/">Login</a></li>
        </ul>
        <div class="parallax-container">
            <div class="parallax"><img src="{% static 'img/tarjeta%20PAX.png' %}"></div>
        </div>
        <div class="section white">
            <div class="row container">
                <img class="col s2 responsive-img" src="{% static 'img/Logo%20PAX.png' %}"><h2 class="header">Bienvenidos</h2><small>esta es nuestra página de inicio</small>
                <p class="grey-text text-darken-3 lighten-3">Es nuestro portal de inicio para la práctica de programación web</p>
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="{% static 'img/tarjeta%20PAX.png' %}"></div>
        </div>
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.parallax');
                var instances = M.Parallax.init(elems, {});
            });
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems, {});
            });
        </script>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                {% for msg in messages %}
                M.toast({html: '{{msg.message}}', classes: 'rounded'});
                 {% endfor %}
                 });
        </script>
    </body>
</html>
