<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta charset="utf-8">
        <!--Import materialize.css-->
        {% load staticfiles %}
        <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>
        <link rel="icon" type="image/png" href="{% static '/img/avatar-3774.jpg' %}" />
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% block css %}{% endblock %}
    </head>

    <body>
        <nav>
            <div class="nav-wrapper blue">
                <a href="/" class="brand-logo">Cooperativa</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/estudiantes/">Estudiantes</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Salir</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="/estudiantes/">Estudiantes</a></li>
            {% if user.is_authenticated %}
            <li><a href="/logout/">Salir</a></li>
            {% endif %}
        </ul>
        <section class="container">
            {% block body %}{% endblock %}
        </section>
        <footer>{% if user.is_authenticated %}
            Accedió como: {{user.username}}
            {% endif %}</footer>
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems, {});
            });
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                {% for msg in messages %}
                M.toast({html: '{{msg.message}}', classes: 'rounded'});
                 {% endfor %}
                 });
        </script>
        {% block js %}{% endblock %}
    </body>
</html>
