{% extends "../index.html" %}

{% block body %}
<nav>
    <div class="nav-wrapper z-depth-2 purple lighten-2">
        <a href="#!" class="brand-logo">Estudiantes</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="nuevo"><i class="material-icons left">playlist_add</i>Nuevo</a></li>
            <li><a href="/estudiantes/"><i class="material-icons left">keyboard_return</i>Regresar</a></li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col s12">
        <div class="card z-depth-3">
            <form method="POST" action="">
                <div class="card-content">
                    <span class="card-title">{{mensaje}}</span>
                    <div class="row">
                        {% for field in f %}
                        <div id="campo_{{field.auto_id}}" class="input-field col s6">
                            {{field}}
                            <label for="{{field.auto_id}}">{{field.label_tag}}</label>
                        </div>
                        {% endfor %}
                        {% csrf_token %}
                    </div>
                </div>
                <div class="card-action">
                    <button type="submit" class="waves-effect waves-light btn blue"><i class="material-icons left">save</i> Guardar</button>
                    <a href="/estudiantes/" class="waves-effect waves-light btn red"><i class="material-icons left">cancel</i> Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
        var chk = document.getElementById("campo_id_estado");
        chk.innerHTML = '<p><label><input type="checkbox" name="estado" id="id_estado" /><span>Estado</span></label></p>'
    });
</script>
{% endblock %}
